examples/example-models/src/main/xsd/service/greeting/GreetingService.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://org/trpr/platform/example/model/service/greetingService"
           xmlns="http://org/trpr/platform/example/model/service/greetingService"
	   xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   xmlns:request="http://org/trpr/platform/service/model/common/platformServiceRequest"
	   xmlns:response="http://org/trpr/platform/service/model/common/platformServiceResponse"
	   xmlns:earthling="http://org/trpr/platform/example/model/entity/earthling"
	   elementFormDefault="qualified">
  
  <xs:import namespace="http://org/trpr/platform/service/model/common/platformServiceRequest" schemaLocation="../../../../../../../service-model/src/main/xsd/common/PlatformServiceRequest.xsd"/>
  <xs:import namespace="http://org/trpr/platform/service/model/common/platformServiceResponse" schemaLocation="../../../../../../../service-model/src/main/xsd/common/PlatformServiceResponse.xsd"/>
  <xs:import namespace="http://org/trpr/platform/example/model/entity/earthling" schemaLocation="../../entity/Earthling.xsd"/>
	
	<xs:element name="GreetingServiceRequest">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="request:PlatformServiceRequestType">
					<xs:sequence>
						<xs:element name="earthling" type="earthling:Earthling"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GreetingServiceResponse">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="response:PlatformServiceResponseType">
					<xs:sequence>
						<xs:element name="header" type="xs:string"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
       	</xs:complexType>
   	</xs:element>

</xs:schema>
